.project
debug
build
build/soil.o
build/biogeochem.o
build/canopy.o
build/climate.o
build/diagnostics.o
build/ies-io.o
build/initial.o
build/io.o
build/main.o
build/math.o
build/physiology.o
build/radiation.o
build/readpars.o
build/snow.o
build/stats.o
build/utilities.o
build/vegetation.o
build/weather.o
**/*.o
**/*.mod
